* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
	margin:0;
	padding:0;
}

@font-face {
	font-family: robotoThin;
	src: url(/fonts/Roboto-Thin.ttf);
}

@font-face {
	font-family: robotoRegular;
	src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family:robotoBold;
	src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family:fancy;
	src: url(/fonts/Monotype-Corsiva.ttf);
}


/*------LAYOUT------*/

html {
	height:100%;
	background:url('/images/brickwall.png');
} 

body {
	height:100%;
  	margin:0 0;
  	font-weight: 400;
  	line-height: 1.5;
  	height:100%;
  	color: black;
  	font-size: 16px;
  	background:url('/images/brickwall.png');
}

p {
	text-align:left;
}

.container {
	width:85%;
	min-height:1000px;
	margin:0 auto;
	text-align:center;
}

.cf {
	clear:both;
}

.cr {
	clear:right;
}

a {
	cursor:pointer;
	text-decoration:none;
}

a:hover {
	opacity:.7;
}

.fancy {
	font-family:fancy;
}

.thin {
	font-family:robotoThin;
}

.regular {
	font-family:robotoRegular;
}

.bold {
	font-family:robotoBold;
}

.burgundy {
	color:#6B3333;
}

.al-left {
	text-align:left;
}

.center {
	text-align:center;
}

.al-right {
	text-align:right;
}

.fl-left {
	float:left;
}

.fl-right {
	float:right;
}

.biggest {
	font-size:3.5em;
}

.bigger {
	font-size:3em;
}

.big {
	font-size:2.5em;
}

.medium {
	font-size:1.5em;
}

.standard {
	font-size:1em;
}

.small {
	font-size:1.2em;
}

.smaller {
	font-size:.8em;
}

.indent {
	text-indent:15px;
}

.left-col {
  float:left;
  clear:left;
}

.right-col {
  float:right;
  clear:right;
}

@media(max-width:1000px) {
	.container {
		width:100%;
	}
}

@media(max-width:870px){
	.left-col {
		float:none;
		clear:none;
	}

	.right-col {
		float:none;
		clear:none;
	}

	.menu-section {
		display:block!important;
		margin:1em auto!important;
	}

	.masonry {
		width:100%!important;
	}

	.main-logo {
		max-width:400px;
	}

	.menu-nav {
		max-width:500px;
	}
}


/* -------- MOBILE NAVIGATION --------*/

.hamburger, .close {
	max-width:80px;
	display:none;
	float:right;
	margin: .5em;
    padding: .5em;
}

.mobile-nav {
	display:none;
	position:fixed;
	list-style: none;
	height:100%;
	width:50%;
	right:0;
	top:80px;
	background-color:white;
	border:1px solid #6B3333;
	border-right:none;
}

.m-nav-link {
	display:block;
	color:#6B3333;
	padding:1em;
}

.m-nav-link:hover {
	background-color:#6B3333;
	color:white;
	opacity:1;
}

.m-nav-link:active, .activatem {
	background-color:#6B3333;
	color:white;
	opacity:1;
}


/*------ HEADER / NAVBAR ------*/

.header-bar {
	position:fixed;
	height: 80px;
	width:100%;
	background-color:#6B3333;
	color:white;
	font-family:robotoRegular;
	z-index:1000;
}

.site-title {
	float:left;
    width: 173px;
    height: 85.13px;
}

.site-logo {
	float:left;
    margin: -.25em 0 0 .5em;
    max-width:165px;
    display:none;
}

.navbar {
	margin-top:2.5em;
	margin-left:12%;
	display:inline-block;
}

.main-nav li {
	display:inline-block;
}

.nav-link {
	color:white;
	font-size:.85em;
	text-decoration:none;
	padding:.5em;
	margin: 0 2em;
	letter-spacing:1px;
}

.nav-link:active, .activate {
	border-bottom:1px solid white;
	padding-bottom:.5px;
}

.social-media {
	float:right;
	padding-right:30px;
	padding-left:0;
	margin-top:1.5em;
}

.social-logo {
	margin: 0 .2em;
	max-width:38px;
}

#hero {
	background-image:url(/images/mainimage.jpg);
  	background-size:cover;
  	position:relative;
}

#mobile-hero {
	display:none;
	background-image:url(/images/mobilemain.gif);
  	background-size:cover;
  	position:relative;
}

@media(max-width:700px) {
	#hero {
		display:none;
	}
	#mobile-hero {
		display:block;
	}
}

.banner-contain {
	width:100%;
}

.main-image {
	width:100%;
	margin-top:4em;
}

.main-logo-holder {
	position:absolute;
	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
	text-align:center;
}
.main-logo {
	max-width:500px; 
}

@media(max-width:1175px){
	.navbar {
		margin-left:8%;
	}
}


@media(max-width:1100px){
	.navbar {
		margin-left:5%;
	}
}

@media(max-width:1075px){
	.navbar {
		display:none;
	}

	.social-media {
		float:none;
		margin-left:50%;
	}

	.hamburger {
		display:inline-block;
	}
}

@media(min-width:1075px){
	.hamburger, .close, .mobile-nav {
		display:none!important;
	}
}


@media(max-width:950px){
.main-logo {
		max-width:450px;
	}
}


@media(max-width:600px){
.main-logo {
		max-width:300px;
	}
}

@media(max-width:500px){
	.site-logo {
		max-width:135px;
		margin:.25em;
		padding:0 0 0 .25em;
	}
	.main-logo {
		max-width:300px;
	}
	.hamburger, .close {
		max-width:60px;
		margin:1em!important;
		margin-right:.25em!important;
	}
	.social-logo {
		max-width:32px;
	}
}

@media(max-width:400px){
	.social-logo {
		max-width:28px;
	}

	.site-logo {
		max-width:130px;
	}
}

@media(max-width:350px){
	.social-logo {
		max-width:25px;
	}

	.main-logo {
		max-width:250px;
	}

	.site-logo {
		max-width:120px;
	}
}


/* ------- MAIN CONTENT -------- */

.page-title {
	text-align:center;
	color: #6B3333;
	margin-top:1em;
	font-size:3.5em;
}

/* ------- MENU ------- */

#menu {
	overflow:hidden;
}

.menu-nav {
	text-align:center;
	margin: 1em auto 0 auto;
}

.masonry {
	width: 850px;
    margin: 2em auto 0 auto;
    min-height:1100px;
}

.menu-link {
	display:inline-block;
	background-color:white;
	color:#6B3333;
	border:2px solid #6B3333;
	border-radius:5px;
	padding:.5em;
	width:118px;
	font-size:1.2em;
	margin:.5em 1em;
}

.menu-link:active, .activated {
	background-color:#6B3333;
	color:white;
	opacity:1;
}

.menu-link:hover {
	background-color:#6B3333;
	color:white;
	opacity:1;
}

.menus-button {
	visibility:hidden;
	opacity:.6!important;
	position:fixed;
	left:1em;
	top:8em;
}

.menus-image {
	max-width:100px;
}

.menus-button:hover{
	opacity:1!important;
}

.menu-section {
	background-color:white;
	color:black;
  	display:inline-block;
	border-radius:5px;
	vertical-align: top;
	display:inline-block;
	width:400px;
	padding:1em;
	margin:1em 0;
	font-size:18px;
}

@media(max-width:400px){
	.menu-section {
		width:100%;
	}
}

.menu-category {
	font-size:1.5em;
	color:#6B3333;
	text-align:center;
	margin-bottom:.5em;
}

.item-and-price {

}

.menu-item {
	float:left;
}

.item-price {
	color:#6B3333;
	float:right;
}

.item-description {
	text-align:left;
	width:95%;

}

.price {
	text-align:center;
	color:#6B3333;
}

.add-on-contain {
	padding:0 1.5em;
}

.catering-box {
  background-color:white;
  width:450px;
  margin:1em auto;
  border-radius:5px;
  padding:1em 1.25em;
}

@media (max-width:450px){
	.catering-box {
		width:100%;
	}
	.add-on-contain {
		padding:0 .75em;
	}
	#cateringHead {
		line-height:1.2em;
	}
}


/*----- ABOUT PAGE -----*/

.about-section{
	width:100%;
	background-color:white;
	min-height:400px;
}

.about-text {
	padding:1em 2.5em;
	height:inherit;	
	margin:0 auto;
	-webkit-columns: 200px 3; /* Chrome, Safari, Opera */
    -moz-columns: 200px 3; /* Firefox */
    columns: 200px 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule: 2px outset #6B3333; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px outset #6B3333; /* Firefox */
    column-rule: 2px outset #6B3333;
}

@media(max-width:1000px){
	.about-text {
		padding:1em 2em;
		-webkit-columns: 300px 2; /* Chrome, Safari, Opera */
    	-moz-columns: 300px 2; /* Firefox */
    	columns: 300px 2;
	}
}

@media(max-width:750px){
	.about-text {
		width:80%;
		padding:0;
		height:inherit;	
		-webkit-columns: 500px 1; /* Chrome, Safari, Opera */
    	-moz-columns: 500px 1; /* Firefox */
    	columns: 500px 1;
	}
}

@media(max-width:550px){
	.about-text {
		width:100%;
		height:inherit;	
		padding:1em;
	}
}


/*-----GALLERY-----*/

.gallery-section {
	min-height:600px;
	position:relative;
}

.coming-soon-holder {
	position:absolute;
	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
	text-align:center;
}

.coming-soon-tag {
	color:black;
	text-align:center;
}

/*-----RESERVATIONS-----*/

.reservations-section {
	min-height:400px;
	position:relative;
}


/*-----FOOTER-----*/

.site-footer {
	background-color:#6B3333;
	color:white;
	min-height:350px;
	clear:both;
	position:relative;
	margin-top:20em;
	letter-spacing:1px;
}

.footerhead {
	font-family:robotoBold;
	font-size:1.5em;
	margin-bottom:1em;
}

.foot-contain {
	width:100%;
	text-align:center;
}

.third {
	font-family:robotoRegular!important;
	padding: 1.5em 0 .5em 0;
	display:block;
	height:350px;
}



@media(min-width:950px){
	.third {
		width:33%;
		float:left;
	}
}

.hours {
	display:block;
	max-width:300px;
	margin:0 auto;
}

.day {
	float:left;
	text-align:left;
}

.time {
	float:right;
	text-align:right;
}

.number {
	font-size:1.2em;
}