* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
	margin:0;
	padding:0;
}

@font-face {
	font-family: robotoThin;
	src: url(/fonts/Roboto-Thin.ttf);
}

@font-face {
	font-family: robotoRegular;
	src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family:robotoBold;
	src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family:fancy;
	src: url(/fonts/Monotype-Corsiva.ttf);
}


/*------LAYOUT------*/

html {
	height:100%;
	background:url('/images/brickwall.png');
} 

body {
	height:100%;
  	margin:0 auto;
  	font-weight: 400;
  	line-height: 1.5;
  	height:100%;
  	color: black;
  	font-size: 16px;
  	background:url('/images/brickwall.png');
}

p {
	text-align:left;
}

.container {
	width:85%;
	min-height:1000px;
	margin:0 auto;
	text-align:center;
}

@media(max-width:600px) {
	.container {
		width:100%;
	}
}

.cf {
	clear:both;
}

.cr {
	clear:right;
}

a {
	cursor:pointer;
	text-decoration:none;
}

a:hover {
	opacity:.7;
}

.fancy {
	font-family:fancy;
}

.thin {
	font-family:robotoThin;
}

.regular {
	font-family:robotoRegular;
}

.bold {
	font-family:robotoBold;
}

.burgundy {
	color:#6B3333;
}

.al-left {
	text-align:left;
}

.center {
	text-align:center;
}

.al-right {
	text-align:right;
}

.indent {
	text-indent:15px;
}


/*------ HEADER / NAVBAR ------*/

.header-bar {
	position:fixed;
	height: 80px;
	width:100%;
	background-color:#6B3333;
	color:white;
	font-family:robotoRegular;
	z-index:1000;
}

.site-title {
    padding: 0 1em;
    float: left;
}

.site-logo {
	max-width:165px;
	float:left;
}

.navbar {
	float:left;
	margin:2.5em 0 0 9em;
}

.main-nav li {
	display:inline-block;
}

.nav-link {
	color:white;
	font-size:.85em;
	text-decoration:none;
	padding:.5em;
	margin: 0 2em;
	letter-spacing:1px;
}

.social-media {
	float:right;
	padding:30px;
}

.social-link {
	padding: 0 .2em;
}

.banner-contain {
	width:100%;
}

.main-image {
	width:100%;
}

.main-logo-holder {
	position:absolute;
	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
	text-align:center;
}
.main-logo {
	max-width:500px;
}

/* -------- COMING SOON PAGE -------- */


.bullet-thing {
	text-align:center; 
	color:#6B3333; 
	font-size:3em;
}

.bullet {
	color:black;
	font-size:.8em;
}

@media(max-width:500px) {
	.main-logo {
		width:100%;
	}
	.bullet-thing {
		font-size:2.5em;
	}
	.bullet {
		font-size:.5em;
	}
}

.host-message {
	background-color:white;
	color:black;
	border-radius:5px;
	width:600px;
	padding:1em 2em;
	margin:3em auto 1em auto;
}

@media(max-width:720px){
	.host-message {
		width:100%;
		margin: 3em 0 1em 0;
		padding:1em;
	}
}

.coming-soon {
	width:400px;
	margin:3.5em auto 0 auto;
}

/* ------- MAIN CONTENT -------- */

.page-title {
	text-align:center;
	color: #6B3333;
	margin-top:1em;
	font-size:3.5em;
}

/* ------- MENU ------- */

.menu-nav {
	text-align:center;
}

.menu-link {
	display:inline-block;
	background-color:white;
	color:#6B3333;
	border:2px solid #6B3333;
	border-radius:5px;
	padding:.5em;
	margin:1em 1.5em;
	width:100px;
}

#grid {
	position:absolute;
}

.grid-item {
	width:300px;
}

.menu-section {
	background-color:white;
	color:black;
	border-radius:5px;
	vertical-align: top;
	width:300px;
	float:left;
	padding:1em;
	margin:1em;
}

.menu-category {
	font-size:1.5em;
	color:#6B3333;
	text-align:center;
	margin-bottom:.5em;
}

.item-and-price {

}

.menu-item {
	float:left;
}

.item-price {
	color:#6B3333;
	float:right;
}

.item-description {
	text-align:left;
	width:95%;

}

.price {
	text-align:center;
	color:#6B3333;
}

