
<header class="site-header cf">
<div class="header-bar">
<a class="site-title" href="#"><img class="site-logo" src="/images/logowhite.png" alt="Cassano Logo"></a>
  <div class="social-media">
  	<a class="social-link" href="https://www.facebook.com/CassanoRistorante" target="_blank"><img src="/images/facebook.png"></a>
  	<a class="social-link" href="https://www.instagram.com/cassanoristorante/?hl=en" target="_blank"><img src="/images/instagram.png"></a>
  </div>
</div>
	<div style="text-align:center">
		<img class="main-logo cf" src="/images/logoblackburg.png" style="margin-top:8em;">
	</div>
  <h1 class="fancy bullet-thing">Lunch &nbsp; <span class="bullet">&bull;</span> &nbsp; Dinner &nbsp; <span class="bullet">&bull;</span> &nbsp; Bar &nbsp; <span class="bullet">&bull;</span> &nbsp; Catering</h1>
  <h2 class="regular center" style="margin-top: 2em;">18 Wheeler Rd. <br /> Hauppauge, NY 11788</h2>


</header>

