 <footer class="site-footer" id="find-us">
    <div class="foot-contain">
 	<div class="third">
 	<h2 class="footerhead">Cassano Ristorante</h2>
 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24161.50173497558!2d-73.22286898644187!3d40.80186858544329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e830e4ca9b3d05%3A0x69028247b9251507!2sCassano+Ristorante+Italiano!5e0!3m2!1sen!2sus!4v1487198774835" width="275" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
 	<p style="margin-bottom:0; margin-top:1em;" class="center">352 Wheeler Rd.<br/>
 	Hauppauge, NY 11788 <br/>
 	<span class="number">(631) 761-6600</span><br/><span style="font-size:.7em;"></span></p>
 	</div>
 	<div class="third">
 		<div style="margin-top:5em;">
	<h3 class="footerhead">Find us on:</h3>
 	<div class="social-box">
        <a href="https://www.facebook.com/CassanoRistorante" target="blank" style="width:42px;""><img src="/images/facebook42.png" class="social-icon" style="padding:0 .5em; cursor:pointer;" id="facebook"></a>
        <a href="https://www.instagram.com/cassanoristorante/?hl=en" target="_blank" style="width:42px;""><img src="/images/instagram42.png" class="social-icon" style="padding:0 .5em; cursor:pointer" id="instagram"></a>
    </div>
    </div>
 	</div>
 	<div class="third">
 	<h3 class="footerhead">Restaurant Hours</h3>
 		<div class="hours">
 			<div class="day">
 			Monday:<br/>
 			Tuesday:<br/>
 			Wednesday:<br/>
 			Thursday:<br/>
 			Friday:<br/>
 			Saturday:<br/>
 			Sunday:<br/>
 			</div>
 			<div class="time">
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 11:00 pm<br/>
			3:00 pm - 11:00 pm<br/>
			3:00 pm - 9:00 pm<br/>
 			</div>
 		</div>
        <img class="pagemaster-tag" src="/images/pagemasterlogo.png">
 	</div>
 </div><!-- / container -->
 </footer>

 <script src="/jquery-3.1.0.min.js" type="text/javascript"></script>
 <script src="/js/main.js" type="text/javascript"></script>
 <script async src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js" type="text/javascript"></script>
 <script src="/js/datepicker.js"></script>
 <script src="/js/noframework.waypoints.min.js"></script>
  <!-- Core JS file -->
 <script src="/js/photoswipe.js" type="text/javascript"></script> 
 <!-- UI JS file -->
 <script src="/js/photoswipe-ui-default.min.js" type="text/javascript"></script>

 <script type="text/javascript">
function fullscreen(){
        jQuery('#hero').css({
            width: jQuery(window).width(),
            height: jQuery(window).height()
        });
    }
  
    fullscreen();

  // Run the function in case of window resize
  jQuery(window).resize(function() {
       fullscreen();         
    });

function fullscreen2(){
        jQuery('#mobile-hero').css({
            width: jQuery(window).width(),
            height: jQuery(window).height()
        });
    }
  
    fullscreen2();

  // Run the function in case of window resize
  jQuery(window).resize(function() {
       fullscreen2();         
    });

</script>

 <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader-active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>
 </div>
</body>
</html>
