 <footer class="site-footer" id="find-us">
    <div class="foot-contain">
 	<div class="third">
 	<h2 class="footerhead">Cassano Ristorante</h2>
 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24161.50173497558!2d-73.22286898644187!3d40.80186858544329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e830e4ca9b3d05%3A0x69028247b9251507!2sCassano+Ristorante+Italiano!5e0!3m2!1sen!2sus!4v1487198774835" width="275" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
 	<p style="margin-bottom:0; margin-top:1em;" class="center">352 Wheeler Rd.<br/>
 	Hauppauge, NY 11788 <br/>
 	<span class="number">(631) 761-6600</span><br/><span style="font-size:.7em;"></span></p>
 	</div>
 	<div class="third">
 		<div style="margin-top:5em;">
	<h3 class="footerhead">Find us on:</h3>
 	<div class="social-box">
        <a href="https://www.facebook.com/CassanoRistorante" target="blank" style="width:42px;""><img src="/images/facebook42.png" class="social-icon" style="padding:0 .5em; cursor:pointer;" id="facebook"></a>
        <a href="https://www.instagram.com/cassanoristorante/?hl=en" target="_blank" style="width:42px;""><img src="/images/instagram42.png" class="social-icon" style="padding:0 .5em; cursor:pointer" id="instagram"></a>
    </div>
    </div>
 	</div>
 	<div class="third">
 	<h3 class="footerhead">Restaurant Hours</h3>
 		<div class="hours">
 			<div class="day">
 			Monday:<br/>
 			Tuesday:<br/>
 			Wednesday:<br/>
 			Thursday:<br/>
 			Friday:<br/>
 			Saturday:<br/>
 			Sunday:<br/>
 			</div>
 			<div class="time">
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 11:00 pm<br/>
			3:00 pm - 11:00 pm<br/>
			3:00 pm - 9:00 pm<br/>
 			</div>
 		</div>
 	</div>
 </div><!-- / container -->
 </footer>

 <script src="jquery-3.1.0.min.js" type="text/javascript"></script>
 <script type="text/javascript" src="/js/main.js"></script>
 <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js" type="text/javascript"></script>
 
</body>
</html>
