<header class="site-header cf">
            <div class="container">
                <a class="site-title" href="#">Anthony Page</a>
                <nav class="navbar">
                    <ul class="header-nav">
                        <li><a class="nav-link" href="#">Blog</a></li>
                        <li><a class="nav-link" href="#">About me</a></li>
                        <li><a class="nav-link" href="#">Portfolio</a></li>
                        <li><a class="nav-link" href="#">Contact</a></li>
                    </ul>
                </nav>
           </div> <!-- / container -->
        </header><!-- / header -->